<h1>My planning</h1>

<% if !@events.empty? %>

<% current_day = @events[0].day_name %>

<table border="1">

<tr><th><%= "#{WEEK[current_day - 1]}" %></th></tr>

	<% @events.each do |event| %>

	<% if event.day_name == current_day %>

	<tr><td><%= event.title %></td></tr>

	<% else %>
		</table>
		<hr/>
		<table border="1">
		<% current_day = event.day_name %>
		<tr><th><%= "#{WEEK[current_day - 1]}" %></th></tr>
		<tr><td><%= event.title %></td></tr>
	<% end #if/else block %>

	<% end #loop end %>

</table>

<% else %>
no events to show
<% end #if %>

