// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  font-family: 'Montserrat';
  font-size: 14px;
}

.clickable_row{
	cursor: pointer;
}

.row_hovered{
	background-color: #777777;
}

.calendar{
	//background-image: url(image_path('calendar2.jpg'));
}

textarea {
        //border-style: none;
        //border-color: Transparent;
        //overflow: auto;
        //outline: none;


        //background: transparent;
      }

.next_to{
        float: right;
}

.greybox{
background-color: #E7E7E7; //6B9EC0, 567E9A
padding: 20px;
}



.table_header{
  background-color: #777777;
}


.menu_icon{
  padding-right: 8px;
}